*  {
  box-sizing: border-box;
}
body {
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    position: fixed;
    height: 69px;
}

header img {
  padding-left: 10px;
  height: 50px;
}

header nav ul {
    float: right;
}

header nav ul li {
    text-decoration: underline;
}

.intro { 
    background-image: url('media\images\img-mission-background.webp');
    background-size: cover;
    height: 700px;
    width: 80%;
}

.intro div {
    background-color: black;
    text-align: center;
    width: 1200px;
}

.flex-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

.flex-gallery figure {
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}

.flex-location {
    display: flex;
    flex-wrap: nowrap;
    width: 100px;
    height: 500px;
    background-image: url('media\images\img-locations-background.webp');
}

.flex-location div {
    background-color: black;
    width: 300px;
    opacity: 1;
    margin: 15px 20px;
    justify-content: space-around;
    align-items:center;
    align-content: center;
}

footer div {
    height: 200px;
}

footer h5 {
    text-align:left;
}

