*  {
  box-sizing: border-box;
  
}

body {
    font-size: 22px;    
    background-color: black;
    opacity: 0.9;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
}

header {
    position: fixed;
    top:0;
    right:0;
    left:0;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
}

header div img{
  height: 50px;
  margin: 5px;
}

header nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
}

header nav ul li a {
    display: block;
    text-align:center;
    padding: 16px;
    text-decoration: underline;
    color: seashell;
}

main {
    margin-top: 70px;
}

.section { 
    display: flex;
    background-image: url('media\images\img-mission-background.webp');
    background-size: cover;
    height: 700px;
    width: 80%;
}

.section div {
    background-color: black;
    text-align: center;
    width: 1200px;
    height: 40px;
}

.flex-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

.flex-gallery figure {
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}

.flex-location {
    display: flex;
    flex-wrap: nowrap;
    width: 100px;
    height: 500px;
    background-image: url('media\images\img-locations-background.webp');
}

.flex-location div {
    background-color: black;
    width: 300px;
    opacity: 1;
    margin: 15px 20px;
    justify-content: space-around;
    align-items:center;
    align-content: center;
}

footer div {
    height: 200px;
}

footer h5 {
    text-align:left;
}

